<!-- staff.hbs -->
{{!-- Citation for the following function:
Date: 11/21/2024
Adapted from CS 340: nodejs-starter-app (index.hbs)
Majority of the code was copied from the sample code given, and modified based on individual project tables. 
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js --}} 

<h1>Staff</h1>

<div class="topnav" id="librariesTopnav">
  <a href="/"><button type="button">Home</button></a>
  <a href="/libraries"><button type="button">Libraries</button></a>
  <a href="/books"><button type="button">Books</button></a>
  <a href="/borrowers"><button type="button">Borrowers</button></a>
  <a href="/checkouts"><button type="button">Checkouts</button></a>
  <a href="/booksBorrowers"><button type="button">Books Borrowers</button></a>
  <a href="/staff"><button type="button">Staff</button></a>
</div>


<!-- Display all staff -->
<table border="1">
    <thead>
        <tr>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Title</th>
            <th>Extension</th>
            <th>Library ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.staffID}}</td>
            <td>{{this.staffName}}</td>
            <td>{{this.staffTitle}}</td>
            <td>{{this.staffExtension}}</td>
            <td>{{this.librariesLibraryID}}</td>
            <td>
                <button type="button" onclick="populateForm(
                    '{{this.staffID}}',
                    '{{this.staffName}}',
                    '{{this.staffTitle}}',
                    '{{this.staffExtension}}',
                    '{{this.librariesLibraryID}}'
                )">Edit</button>
                <form action="/staff/delete/{{this.staffID}}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add or Update a staff member -->
<h3 id="formTitle">Add New Staff Member</h3>
<form id="staffForm" action="/staff/add" method="POST">
    <input type="hidden" id="staffID" name="staffID">

    <label>Name: </label><input type="text" id="staffName" name="staffName"><br>
    <label>Title: </label><input type="text" id="staffTitle" name="staffTitle"><br>
    <label>Extension: </label><input type="text" id="staffExtension" name="staffExtension"><br>
    <label>Library: </label>
    <select id="librariesLibraryID" name="librariesLibraryID">
        <option value="">None</option>
        {{#each libraries}}
        <option value="{{this.libraryID}}">{{this.libraryName}}</option>
        {{/each}}
    </select><br>
    <button type="submit" id="formButton">Add Staff Member</button>
</form>

<script>
function populateForm(staffID, staffName, staffTitle, staffExtension, librariesLibraryID) {
    document.getElementById('staffID').value = staffID;
    document.getElementById('staffName').value = staffName;
    document.getElementById('staffTitle').value = staffTitle;
    document.getElementById('staffExtension').value = staffExtension;
    document.getElementById('librariesLibraryID').value = librariesLibraryID;
    document.getElementById('formTitle').innerText = 'Update Staff Member';
    document.getElementById('formButton').innerText = 'Update Staff Member';
    document.getElementById('staffForm').action = '/staff/update/' + staffID;
}
</script>
